/* .slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .image{
    width: 100px;
    height: 200ps;
    border-radius: 10px;
} */

.right-arrow{
    position: absolute;
    top: 30%;
    right: 5px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 30%;
    left: 5px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}


